<div class="container">
    <!--picture and details section -->
    <div class="row">
       <!--picture -->
       <div class="col-md-2"></div>
       <div class="col-md-5">
        <img class="profile-img img-thumbnail" src="{{user.avatar_url}}">
       </div>
       <!--details -->
       <div class="col-md-2">
           <label>Name: <span>{{user.name}}</span></label><br>
           <label>Quote: <span>{{user.login}}</span></label><br>
           <label>Residence: <span>{{user.location}}</span></label><br>
           <label>Repository No.:<span>{{user.public_repos}}</span></label><br>
           <label>Followers: <span>{{user.Followers}}</span> </label><br>
           <label>Following: <span>{{user.following}}</span> </label>
       </div>
        <div class="col-md-3"></div>
    </div>
    <!-- repositories -->
   
      <div class="row">
        <h4>repositories</h4> 
        <hr>
        <div class="col-md-1"></div>
          <div class="col-md-10">
              
                <div *ngFor="let repo of repos" >
                            <hr> 
                            <div class="row"> 
                        
                            <div class="col-md-3">
                                <h6>{{repo.name}}:</h6>
                            </div>
                            <div class="col-md-9">
                                <p> {{repo.description}}</p> 
                            </div>
                        
                        
                    </div>
                    </div>
                   <hr>  
          </div>
          
          <div class="col-md-1"></div>
          <hr>
      </div>
      
      
          


</div>