
  <!-- header secton -->
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">This project is to allow you to access the your github pages. Without necessarily having to go into github's website</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
           <p>This page is currently undergoing maintenance :)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
     <span class="text-white">Github Search</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

   <div class="container " id="topSection"><h1>Github Search</h1></div>
   <app-landing></app-landing>

  
  <div class="bg-dark" id="bottom">
    <h6 class="text-white" id="bottomTag">&copy; GithubSearch2018</h6>
  </div>

